
.sectionDiv
{
	position: absolute;

	padding-left: 10px;
	padding-right: 10px;
	margin: 0px;


	overflow: hidden;
}

.sectionImg
{
	width: 100%;
	height: auto;
	z-index: 1;
}

#div1
{
	background-color: #99cc00;
}

#div2
{
	background-color: #33b5e5;
}

#div3
{
	background-color: #ff4444;
}